<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta property="og:title" content="Recherche de professionnels" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Prenez rendez-vous en ligne ! Un service disponible 24h/24 et 7J/7 en seulement quelques clics. Besoin d&#039;un conseil médical, une question de santé à poser, DietyCoach vous met en relation avec de nombreux médecins à votre écoute !" />
    <meta name="description" content="Prenez rendez-vous en ligne ! Un service disponible 24h/24 et 7J/7 en seulement quelques clics. Besoin d&#039;un conseil médical, une question de santé à poser, DietyCoach vous met en relation avec de nombreux médecins à votre écoute !" />
    <link rel="icon" href="/images/logo-round.ico"/>
    <title>Dietycoach - RDV de coaching en ligne</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/plugins/datepicker/datepicker3.css') }}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>


  <body class="directory">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCJHFPX" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="page" class="d-flex flex-column justify-content-between">

      <div>
        <header class="page-header">
          <div class="container">
            <h1>Diety<span>coach</span></h1>
            <p><strong>Bienvenue sur la plateforme</strong><br />de prise de rendez-vous de coaching nutritionnel</p>
          </div>
        </header>

        {% block app_body %}{% endblock %}

      </div>
      <div class="cookie-bar">
        <div class="cookie-item" data-name="cookieGoogleAnalytics">
          <div class="cookie-content">
            <p>En naviguant sur notre site, vous acceptez l&#039;utilisation de cookies GOOGLE ANALYTICS afin de vous offrir une expérience personnalisée et sécurisée.</p>
            <a href="/politique-des-cookies" class="learn-more">En savoir plus</a>
            <a href="#" class="choice" data-choice="refuse">Je refuse</a>
          </div>
          <a href="#" class="button small" data-choice="accept">J&#039;accepte</a>
        </div>
      </div>
      <footer class="page-footer">
        <div class="container">
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-md-between">
            <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-start align-items-lg-center mb-1 mb-md-0">

              <p>Copyright © 2021. Dietycoach tous droits réservé.</p>
            </div>
            <div>
              <ul class="list-unstyled d-flex flex-column flex-xl-row mb-0 align-items-center align-items-md-start">
                <!--<li><a href="/cgu">Conditions générales d’utilisation</a></li>
                <li><a href="/mentions-legales">Politique relative à la protection des données personnelles</a></li>-->
              </ul>
            </div>
          </div>
        </div>
      </footer>

    </div>
    <!-- <div class="footer-extended">
       <div class="content">
         <div><a href="/" class="logo">Fresenius.com</a></div>
         <div class="grid-wrapper-md grid-gutter">
           <div class="grid-1 seo">
             <p>Copyright © 2021 DiététIC, tous droits réservés</p>
           </div>
           <div class="grid-wrapper-sm grid-2">
             <div class="grid-wrapper grid-1">
               <div class="grid-1 nav">
                 <a href="/cgu" data-analytics="{&quot;data&quot;:{&quot;event&quot;:&quot;clic_cta_CGU&quot;,&quot;eventCategory&quot;:&quot;clic_cta_CGU&quot;,&quot;eventAction&quot;:&quot;clic_cgu&quot;}}">Conditions générales d’utilisation
                 </a>
                <a href="/cgu">Conditions générales d’utilisation</a>
              </div>
              <div class="grid-1 more">
                <a href="/mentions-legales">Politique relative à la protection des données personnelles</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
  </body>

</html>

{% block app_javascript %}

  <script>
    window.dataLayer = window.dataLayer || [];
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
      var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s),
              dl = l != 'dataLayer' ? '&l=' + l : '';

      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NCJHFPX');

  </script>
  <script type="text/javascript" src="{{ asset('js/autocomplete.js') }}"></script>

  <!--<script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/bootstrap-datepicker.fr.min.js') }}"></script>-->
  <script type="text/javascript" src="{{ asset('bundles/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/app.js') }}"></script>
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>

{% endblock %}
