{% extends "AdminBundle::layout_admin.html.twig" %}
{% import 'AdminBundle:_Macros:app_pagination.html.twig' as pagination %}

{% block ocplatform_body %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% block title %}
                Liste des coachs
            {% endblock %}
        </h1>
    </section>

    <section class="content">

    <div class="box box-default">

        <div class="box-body">

            <table class="user-list table table-striped table-bordered jambo_table">
                <tbody>
                {% for coach in coachs %}
                    <tr class="">
                        <td class="col-md-9">{{ coach.prenom }} {{ coach.nom }} - (<a
                                    href="mailto:{{ coach.email }}">{{ coach.email }}</a>)
                        </td>
                        <td class="col-md-3 text-right">
                            <a href="{{ path('app_administration_coach_update', {coach_id: coach.id}) }}"
                                                               class="btn btn_taille1 btn100 fondorange" role="button">
                                <i class="fa fa-pencil"></i> {{ 'Éditer'|trans }}
                            </a>
                            <a href="{{ path('app_administration_coach_delete', {coach_id: coach.id}) }}"
                               class="btn btn_taille1 btn100 fondorange" role="button" onclick="return confirm('Etes-vous sûr?');">
                                <i class="fa fa-user-times"></i> {{ 'Supprimer'|trans }}
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{ "Aucun coach n'est référencé"|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
            {#<a class="add-user btn btn-sm btn-success" style="margin-right: 30px" href="{{ path('app_administration_coach_add') }}"
               role="button">
                <i class="fa fa-plus"></i> {{ 'Ajouter'|trans }}
            </a>#}
        </div>
    </div>

    <div class="row text-center">
        {{ pagination.paginate(coachs, 20, nbPages, page, 'app_administration_coachs') }}
    </div>


{% endblock %}